* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}



.header {
  width: 70%;
  position: absolute;
  top: 0;
  z-index: 2;
}

#fullScreenShow {
  width: 70%;
  height: 100%;
  /* position: fixed; */
  /* top: 0; */
  display: flex;
  /* justify-content: row; */
  /* align-items: center; */
  margin: auto;
  visibility: visible;

}

#fullScreenHide {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  margin: auto;

  visibility: hidden;


}

.body {
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* flex-direction: row;
  justify-content: center; */
  margin: auto;
}

.footer {
  width: 70%;
  position: fixed;
  bottom: 0;
}




.bodyhs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}



.AppLight {
  margin: auto;


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;

}

.darkApp {
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 16, 15);
  color: white;



}